
 @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}
.left-section img
{
  position: absolute;
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
}
.left-section
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.2s;
  z-index: 2;
}
.left-section.active
{
  right: 300px;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darkgrey;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}
.text h2
{
  font-size: 4.5rem;
  font-weight: 800;
  color: white;
  line-height: 1.5em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.2rem;
  color: white;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text input,
.text button
{
  display: inline-block;
  font-size: 1rem;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text button:hover
{
  letter-spacing: 6px;
}
@media (max-width: 798px)
{
  .left-section,
  .left-section header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3rem;
  }
}